.row
  .col-sm-3
    .spacer
      %ul.nav.nav-pills.nav-stacked
        %li{'ui-sref-active' => 'active'}
          %a{'ui-sref' => 'main.personal_area.info'}
            Информация
        %li{'ui-sref-active' => 'active'}
          %a{'ui-sref' => 'main.personal_area.credit_card'}
            Кредитная карта
        %li{'ui-sref-active' => 'active'}
          %a{'ui-sref' => 'main.personal_area.statistics'}
            Статистика игр
        %li{'ui-sref-active' => 'active'}
          %a{'ui-sref' => 'main.personal_area.transactions'}
            Операции по счету
  .col-sm-1
  .col-sm-8
    %ui-view(name='content')