.row
  .col-sm-8
    %form{name: 'form'}
      .form-group
        %label.control-label{:for => 'email'} Пополнить счет
        .row
          .col-sm-8
            %input#email.form-control{name: 'refill', :placeholder => 'Сумма', :type => 'text', 'ng-model' => 'refill_amount'}
          .col-sm-4
            %button.btn.btn-default{:type => 'submit', 'ng-click' => "click('refill')"} Пополнить

      .form-group
        %label.control-label{:for => 'password'} Вывести средства
        .row
          .col-sm-8
            %input#password.form-control{name: 'withdrawal', :placeholder => 'Сумма', :type => 'text', 'ng-model' => 'withdrawal_amount'}
          .col-sm-4
            %button.btn.btn-default{:type => 'submit', 'ng-click' => "click('withdrawal')"} Вывести