.maindiv
  .spacer0-3
  .indextext
    %div{:style => "height: 30%"}
      %carousel{:interval => "myInterval"}
        %slide{:active => "slide.active", "ng-repeat" => "slide in slides"}
          %img{"ng-src" => "{{slide.image}}", :style => "margin:auto;"}
            .carousel-caption
              %h4
                {{slide.text}}

  .spacer0-3
  .divbut{'ng-show' => 'button_toggled.$resolved'}
    .divbut1
      .center
        %button.btn.btn-success.btn-lg{:type => "button", 'ng-model' => 'green_toggled', 'btn-checkbox' => '', 'ng-disabled' => 'red_toggled', 'ng-click' => "button_clicked('green')"}
          Зеленые
        %br
        {{green_clicks}}
        %br
        .green-text
          {{green_amount}} руб
    .divmed

    .divbut2
      .center
        %button.btn.btn-danger.btn-lg{:type => "button", 'ng-model' => 'red_toggled', 'btn-checkbox' => '', 'ng-disabled' => 'green_toggled', 'ng-click' => "button_clicked('red')"}
          Красные
        %br
        {{red_clicks}}
        %br
        .red-text
          {{red_amount}} руб
  .spacer
    .div-prog-bar{'ng-show' => '!schedules.$resolved'}
      Загрузка...
      %br
      %img{src: 'loading-spinner.gif'}
    .div-prog-bar{'ng-show' => 'schedules.$resolved'}
      %progressbar.progress-striped.active{:type => "{{type}}", :value => "slider.percents"}
      {{slider.remained}}
