.spacer
  .hederfaq
    %h1
      FAQ - ответы на часто задаваемые вопросы

.spacer
  .faqaccordions
    %h5 Если у тебя останутся вопросы после прочтения F.A.Q. или у тебя есть проблемы с вводом/выводом денег, или ещё с чем-нибудь, то ты можешь написать нам.
    %h5 На странице "КОНТАКТЫ" ты найдёшь удобный для тебя способ общения с нашей технической поддержкой и она обязательно поможет тебе :)
    .spacer
    %accordion{'close-others' => 'true'}
      %accordion-group{"is-open" => "status.open"}
        %accordion-heading
          Вопрос #1: Как выбрать и стать участником красной или зеленыой команды
          %i.pull-right.glyphicon{"ng-class" => "{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"}
        Ответ: Щёлкнуть по красной/зелёной кнопке на главной странице.
      %accordion-group{"is-open" => "status.open2"}
        %accordion-heading
          Вопрос #2: Могу ли я не ставить деньги, а просто щёлкнуть по кнопке, т.к. меня попросили друзья?
          %i.pull-right.glyphicon{"ng-class" => "{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"}
        Ответ: Конечно. Просто щёлкните по кнопке и нажмите "Просто поддержать друзей".