.spacer
.back_4_reg_and_login
  .row

    .col-sm-4
    .col-sm-4
      %form{name: 'form'}
        .form-group
          %label.control-label{:for => 'email'} Email
          %input#email.form-control{name: 'email', :placeholder => 'Введите адрес электронной почты', :type => 'email', 'ng-model' => 'user.email'}

        .form-group
          %label.control-label{:for => 'password'} Пароль
          %input#password.form-control{name: 'password', :placeholder => 'Введите пароль', :type => 'password', 'ng-model' => 'user.password'}

        .pull-right
          %button.btn.btn-default{:type => 'submit', 'ng-click' => 'login()'} Войти

        %button.btn.btn-default{:type => 'submit', 'ng-click' => 'register()'} Зарегистрироваться

        %div{'ng-show' => 'error'}
          .alert.alert-danger{:role => "alert"}
            %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
            %span.sr-only Error:
            {{error}}

