.modal-header
  %h3.modal-title Сделайте ставку
.modal-body
  %form{name: 'form'}
    .form-group
      %label.control-label Ставка
      %input.form-control{name: 'amount', :placeholder => 'Введите размер ставки', :type => 'text', 'ng-model' => 'bet.amount'}
    %span{'ng-show' => 'errors.amount'}
      .alert.alert-danger{:role => "alert"}
        %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
        %span.sr-only Error:
        {{errors.amount[0]}}

.modal-footer
  %button.btn.btn-primary{"ng-click" => "ok()"} OK
  %button.btn.btn-warning{"ng-click" => "cancel()"} Cancel