%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} You are win?
    %div
      %ul.nav.navbar-nav
        %li{ui: {sref: {active: 'active'}}}
          %a{ui:{:sref => "main.index"}} Главная
          %span.sr-only (current)
        %li{ui: {sref: {active: 'active'}}}
          %a{ui:{:sref => "main.info"}} F.A.Q.
          %span.sr-only (current)
        %li{ui: {sref: {active: 'active'}}}
          %a{ui:{:sref => "main.contacts"}} Контакты
          %span.sr-only (current)

      %ul.nav.navbar-nav.navbar-right
        %li.non-link-pill
          {{user.total_amount}} рублей

        %li.dropdown{:dropdown => '', 'on-toggle' => 'toggled(open)'}
          %a.dropdown-toggle{'ng-click' => 'toggleDropdown($event)', :href => ''}
            {{user.nickname || 'Вход'}}
            %span.caret
          %ul.dropdown-menu
            %li{'ng-repeat' => 'choice in items'}
              %a{href: '', 'ng-click' => '$parent.resolveState(choice.state)'} {{choice.name}}



