.spacer
.back_4_reg_and_login
  .row
    .col-sm-4
    .col-sm-4
      %form{name: 'form'}
        .form-group{'ng-class' => "{'has-error': form.nickname.$error.server}"}
          %label.control-label{:for => 'nickname'} Ник
          %input#nickname.form-control{name: 'nickname', :placeholder => 'Введите ник', :type => 'text', 'ng-model' => 'user.nickname', 'server-error' => true}
          %div{'ng-show' => 'form.nickname.$invalid'}
            %span{'ng-show' => 'form.nickname.$error.server'}
              .alert.alert-danger{:role => "alert"}
                %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
                %span.sr-only Error:
                {{errors.nickname}}

        .form-group{'ng-class' => "{'has-error': form.email.$error.server}"}
          %label.control-label{:for => 'email'} Email
          %input#email.form-control{name: 'email', :placeholder => 'Введите адрес электронной почты', :type => 'email', 'ng-model' => 'user.email', 'server-error' => true}
          %div{ 'ng-show' => 'form.email.$invalid'}
            %span{'ng-show' => 'form.email.$error.server'}
              .alert.alert-danger{:role => "alert"}
                %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
                %span.sr-only Error:
                {{errors.email}}

        .form-group{'ng-class' => "{'has-error': form.password.$error.server}"}
          %label.control-label{:for => 'password'} Пароль
          %input#password.form-control{name: 'password', :placeholder => 'Введите пароль', :type => 'password', 'ng-model' => 'user.password', 'server-error' => true}
          %div{role: 'alert', 'ng-show' => 'form.password.$invalid'}
            %span{'ng-show' => 'form.password.$error.server'}
              .alert.alert-danger{:role => "alert"}
                %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
                %span.sr-only Error:
                {{errors.password}}

        .form-group{'ng-class' => "{'has-error': form.password_confirmation.$error.server}"}
          %label.control-label{:for => 'confirm_password'} Подтвердите пароль
          %input#confirm_password.form-control{name: 'password_confirmation', :placeholder => 'Подтвердите пароль', :type => 'password', 'ng-model' => 'user.password_confirmation', 'server-error' => true}
          %div{ 'ng-show' => 'form.password_confirmation.$invalid'}
            %span{'ng-show' => 'form.password_confirmation.$error.server'}
              .alert.alert-danger{:role => "alert"}
                %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
                %span.sr-only Error:
                {{errors.password_confirmation}}

        .pull-right
          %button.btn.btn-default{:type => 'submit', 'ng-click' => 'saveUser()'} Зарегистрироваться
-#.spacer2