/*
 *= require twitter/bootstrap
 *= require_self
 */


/*errors 007*/
.error{

  

}

/*007*/

.maindiv {
  position: relative;
}

.back_4_reg_and_login{
  position: absolute;
  background-color: rgba(0,0,0, 0.08);
  width: 95%;
  height: auto;
  margin-left: 2.5%;
  border-radius: 3px;
  padding: 1.5% 1.5% 3% 3%;

}

/*8%*/
.spacer0-3{
  position: relative;
  width:  100%;
  height: 5% ;
  margin-top: 3%;
}

/*15%*/
.spacer{
  position: relative;
  width:  100%;
  height: 10% ;
  margin-top: 5%;
  //background: #000;
}
/*30%*/
.spacer2{
  position: relative;
  width:  100%;
  height: 10% ;
  margin-top: 20%;
}

.page-content {

  margin-top: 0%;

}

/* LK 006 */

.ele1{
 // background-color: #336622;
  width: 80%;
  height: 3em;
  margin-left: 10%;
  position: relative;
  vertical-align: middle ;
  padding: 1%;
  z-index: -1;
}

.ele2 {
 // background-color: #336622;
  width: 55%;
  height: 3em;
  margin-left: 10%;
  position: relative;
  vertical-align: middle ;
  padding: 1%;
  z-index: -1;
}

.balansLK {
  color: #36F; /* Цвет текста */
  font-weight: 600; /* Жирное начертание */
  font-size: 14pt;
  height: 3em;
  margin-top: -2em;
  margin-left: 50%;
 // background-color: #888888;
  z-index: 999;
  position: relative;
  width: 25%;
}

table {
  margin: auto; /* Выравниваем таблицу по центру окна  */
}

.idlk {

  color: #000; /* Цвет текста */
  font-weight: 600; /* Жирное начертание */
  font-size: 14pt;
  height: 3em;
  margin-top: -2em;
  margin-left: 50%;
 // background-color: #888888;
  height: 2.5em;
  z-index: 999;
  position: relative;
  width: 25%;
}

.tablelk{
   // background-color: #334578;
    width: 80%;
    height: 3em;
    margin-left: 10%;
    position: relative;
    vertical-align: middle ;
    padding: 1%;
    z-index: -1;
    margin-top: 5%;
  text-align: center;
  }

.divlk{
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 100%;
  text-align: center;

}

.but001 {
  font-weight: 600; /* Жирное начертание */
  font-size: 14pt;
  height: 3em;
  margin-top: -1.8em;
  margin-left: 64%;
 // background-color: #888888;
  z-index: 999;
  position: relative;
  width: 25%;
}

/* 006 */

/* 005 FAQ */

.hederfaq{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.hedercont{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}


.faqaccordions{
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 100%;

}

/* 005 */

/* 004 прогресс бар */

.div-prog-bar{
  width: 60%;
  height: 5%;
  margin-left: 20%;
  margin-top: 0%;
  text-align: center;
}
/* 004 */

///* errors 003 */
//errors with delay
//@-webkit-keyframes fon {
//  0% {opacity: 1; background: rgba(255, 0, 0, 0.5);}
//  75% {opacity: 0;}
//}
//@-moz-keyframes qwe {
//  0% {opacity: 1; background: rgba(255, 0, 0, 0.5);}
//  75% {opacity: 0;}
//}
//@-o-keyframes qwe {
//  0% {opacity: 1; background: rgba(255, 0, 0, 0.5);}
//  75% {opacity: 0;}
//}
//@keyframes qwe {
//  0% {opacity: 1; background: rgba(255, 0, 0, 0.5);}
//  75% {opacity: 0;}
//}
//
//
//@-webkit-keyframes text {
//  0% {opacity: 1;}
//  1% {opacity: 1;}
//}
//@-moz-keyframes text {
//  0% {opacity: 1;}
//  1% {opacity: 1;}
//}
//@-o-keyframes text {
//  0% {opacity: 1;}
//  1% {opacity: 1;}
//}
//@keyframes text {
//  0% {opacity: 1;}
//  1% {opacity: 1;}
//}
//
//.fon{
//  z-index: 1;
//  margin-top: -3.5em;
//  position: relative;
//  -webkit-animation-name: fon;
//  -moz-animation-name: fon;
//  -o-animation-name: fon;
//  animation-name: fon;
//  /* Задержка перед началом */
//  -webkit-animation-delay: 0s;
//  -moz-animation-delay: 0s;
//  -o-animation-delay: 0s;
//  animation-delay: 0s;
//  /* Продолжительность анимации */
//  -webkit-animation-duration: 10s;
//  -moz-animation-duration: 10s;
//  -o-animation-duration: 10s;
//  animation-duration: 10s;
//}
//
//.text {
//  z-index: 2;
//  position: relative;
//  -webkit-animation-name: text;
//  -moz-animation-name: text;
//  -o-animation-name: text;
//  animation-name: text;
//  /* Задержка перед началом */
//  -webkit-animation-delay: 10s;
//  -moz-animation-delay: 10s;
//  -o-animation-delay: 10s;
//  animation-delay: 10s;
//  /* Продолжительность анимации */
//  -webkit-animation-duration: 0s;
//  -moz-animation-duration: 0s;
//  -o-animation-duration: 0s;
//  animation-duration: 0s;
//}
//</style>
//</head>
//<body>
//<div>
//<h1 class="text">Добро пожаловать!</h1>
//
//<div class="fon">
//<h1>              </h1>
//</div>
//
//</div>
//</body>
//</html>
//
//
//
///* 003 */


/* навигационная панель 002 */

.centernav{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
}

.centernav2{
  margin: 0.4% 0.4% 0.25% 0%;
}

.balansnavbar {
  color: #36F; /* Цвет текста */
  font-weight: 600; /* Жирное начертание */
  font-size: 14pt;
}

.balansnavbar:hover{
  text-decoration: underline;
  cursor: pointer;
}


/* 002 */

/* главная конпки, блоки, центровка, текст 001 */
.indextext{
  height: 10%;
  width: 80%;
  position: relative;
  margin-left:10%;
  margin-right:10%;
}

.divbut{
  width: 100%;
  height: 100px;
 // background: #00FF00;
  position: relative;
}

.divbut1 {
 // background: #0000FF;
  height: 80%;
  width: 25%;
  margin-left:20%;
  position: relative;


}

.divmed {
 // background: #000;
  height: 80%;

  width: 10%;
  margin-left: 45%;
  margin-top: 0%;
  position: relative;
  top: -80%;
}

.divbut2 {

  //background: #F50;
  height: 80%;

  width: 25%;
  margin-left:55%;
  margin-top: 0% ;
  position: relative;
  top: -160%;
}

.center {
  text-align: center;
}

.btn-lg{
  width: 90%;
}


///* Автоматический размер текста*/

html { font-size: 60.5%; }
body { font-size: 1em;}
.btn-lg {font-size: 67%; padding: 2%;}


@media (min-width: 300px) {
  html { font-size: 70%; }
  .btn-lg {font-size: 115%; padding-left: 6%}
}

@media (min-width: 500px) {
  html { font-size: 80%; }
  .btn-lg {font-size: 100%; padding-left: 5%}
}

@media (min-width: 700px) {
  html { font-size: 100%; }
  .btn-lg {font-size: 100%; padding-left: 5%}
}

@media (min-width: 1200px) {
  html { font-size: 100%; }
  .btn-lg {font-size: 140%; padding-left: 5%}
}








//.textbut{
//  //text-align: center;
//  font-size: 100%;
//
//
//
//}

.red-text {
  color: #c9302c;
  text-align: center;
  width: 95%;

}

.green-text {
  color: #5cb85c;
  text-align: center;
}

li.non-link-pill {
  color: #777777;
  padding: 15px 15px;
}

.btn{
  border: 3px #CCCCCC solid; /* стили рамки */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius:5px;
  border-radius: 5px; /* закругление углов для всех, кто понимает */
}
/* 001 */