!!!
%html(ng-app="clicker")
  %head
    %title{'ng-bind' => 'title'}

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    :javascript
      var I18n = I18n || {}
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";

      window.maxFileSize = #{Rails.application.config.try(:max_file_size) || 90000000}
  %body
    %ui-view(name='navbar')
    .page-content
      %ui-view(name='content')
    = yield